{{#each (limit searchResults.items viewLimit) as |result index|}}
  <h1 class="p-title mt-3">
    {{#if result.icon}}
      <img src="{{get icons result.icon}}" class="favicon">
    {{else}}
      {{fa-icon icon="twitter"}}
    {{/if}}
    Result #{{inc index}} from {{#if result.displayLink}}{{result.displayLink}}{{/if}}
  </h1>

  {{#if result.title}}
    <div>
      <a href="{{result.link}}" class="p-link">{{result.title}} {{fa-icon "external-link" class="external-icon"}}</a>
    </div>
  {{/if}}

  {{#if result.snippet}}
    <div>
      <div class="p-block">{{result.snippet}}</div>
    </div>
  {{/if}}
{{/each}}

{{#if (and (eq viewLimit 10) (gt searchInformation.totalResults 10))}}
  <div class="p-footnote mt-2">Results limited to first 10 tweets found</div>
{{else if (and (eq viewLimit 5)(gt searchResults.items.length 5))}}
  <div class="mt-2">
    <a class="p-action" {{on "click" (action "viewMore")}}>View more</a>
  </div>
{{/if}}
